/* Additional Style */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: green;
}

/* DIV's Display Should be None  */
div {
    display: none;
}